<footer>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">2018 &copy www.task-management.com. All rigth reserved.</div>
      </div>
   </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title h4" id="exampleModalCenterTitle">Adding new task</h5>
         </div>
         <div class="modal-body">
            <div id="preview-body" style="display: none;">
               <div class="row">
                  <div class="col-sm-4 h5">Photo</div>
                  <div class="col-sm-8"><img id="imagePreview" style='width:30%;'/></div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-4 h5">Name</div>
                  <div class="col-sm-8" id="name"></div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-4 h5">Email</div>
                  <div class="col-sm-8" id="email"></div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-4 h5">Task</div>
                  <div class="col-sm-8" id="task"></div>
               </div>
            </div>
            <div id="add-body">
               <form method="post" action="add-task" enctype="multipart/form-data" class="sidebar">
                  <h3 class="text-center">Create new task</h3>
                  <hr>
                  <label>Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="John Deep">
                  <label>Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="example@domain.com">
                  <label>Task</label>
                  <textarea name="task" id="task" class="form-control" rows="5"  placeholder="Type here the task"></textarea>
                  <label>Picture</label>
                  <input type="file" id="file" name="file" onchange="loadFile(event);" accept="jpg,png,gif">
                  <button type="submit" class="btn-submit">Add task</button>
               </form>
               <button data-toggle="modal" data-target="#preview" class="btn-submit">Preview</button>
               <br>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="ediTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title h4" id="exampleModalCenterTitle">Edit the task</h5>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-sm-12">
                  <form action="edit-task" method="post">
                     <input type="hidden" name="taskid" id="taskid">
                     <label>Task</label>
                     <textarea name="task" id="etask" class="form-control" rows="5"  placeholder="Type here the task"></textarea>
                     <button type="submit" class="btn-submit">Edit</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="build/js/all.js"></script>
</body>
</html>