<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Francisco Bizi - Web Developer">   
        <meta name="Keywords" content="tasks, task, app, system, managment, tickets">
        <meta name="Description" content="App for creating tasks!">
        <title>Createtasks - Create Tasks with our application</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="build/css/main.css" type="text/css" >
    </head>
    <body>