<?php include('template/header.html');?>
        <div class="container">
        <header>
            <h1 style="font-size: 5em;">404</h1>
        </header>
        <main>
            <div class="row">
                
                <div class="col-sm-12">
                    <h3 class="text-center" style="font-weight: 700; color: #000;">
                        Sorry, the page you are looking for could not be found!
                        <p><a href="/">GO HOME</a></p>
                    </h3>
                </div>
            </div>
        </div>
        </main>
<?php include('template/footer.html');?>